<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blossom.mapper.ActivitySaleMapper">



    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into activity_sale(activity_id,flower_id,original_price,discount_price,stock,sale)
        values(#{activityId},#{flowerId},#{originalPrice},#{discountPrice},#{stock},#{sale})
    </insert>

    <update id="batchUpdateWithVersion">
        <foreach collection="list" item="sale" separator=";">
            update activity_sale
            set stock = #{sale.stock},
                sale = #{sale.sale},
                version = version + 1,
            where activity_id = #{sale.activityId}
                and flower_id = #{sale.flowerId}
                and version = #{sale.version} <!--校验旧版本号 -->
        </foreach>
    </update>


</mapper>
